:root {
  --pink: #FF4081;
  --lavendar: #DCD6F7;
  --navy: #424874;
}

* {
  font-family: 'Courier New', Courier, monospace !important; 
}

.demo-card-wide.mdl-card {
  width: 512px;
}

.demo-card-wide .mdl-card__menu {
  color: #fff;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.medPost {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  font-size: large;
}

.createDateButton {
  margin: auto 10px !important;
}

.form {
  width: 100%;
}

form {
  width: 50%;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  background-color: white !important;
}

.createDatesSubmit {
  background-color: var(--pink) !important;
  border: none !important;
}

.header {
  background-color: var(--pink);
  width: 100%;
  color: #fff;
}

#addDate {
  margin: 10px auto !important;
  padding: 10px;
}

.headerButton {
  color: #fff;
  text-align: center;
}

.headerButton:hover {
  color: var(--navy) !important;
  transition: 250ms;
}

body {
  background-color: lavender;
}

.headerContainer {
  width: 100%;
  display: flex-inline;
  align-items: center;
  justify-content: center;
}

.buttonDiv {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.buttonShow {
    background-color: var(--pink) !important;
    padding: 0;
    border: none;
}

button:hover {
  background-color: #424874 !important;
  transition: 250ms;
  transform: scale(.95);
}

.modal {
  background-color: var(--navy);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  align-items: center;
}

.modalContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
